#user-face {
	border: 5px solid #dd7777;
	border-radius: 100%;
	
}

body {
	
	
	background-color: #bbded6;
}

.panel>.panel-heading {
	border: none;
	background-image:none;
	/*background-image: linear-gradient(-20deg, #2b5876 0%, #4e3476 100%);*/
	/*background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%); - error panel*/
    background-color:#2594a9;
    color: white;
}
.panel{
	border:0px;
}
.container{
	margin-top:50px;
}

